.page-detail-wrap{
    padding: 30px 0 60px 0;
    box-sizing: border-box;
    .block{
        width: 80%;
        margin: 0 auto;
        border: 1px solid #ddd;
        border-radius: 5px;
        background: #fff;
        .title{
            overflow: hidden;
            height: 50%;
            line-height: 50px;
            padding: 0 60rpx;
            text-align: center;
            text-overflow: ellipsis;
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;
        }
        .detail{
            .none{
                line-height: 20px;
                padding: 15px 0;
                text-align: center;
            }
            .cells{
                .cell{
                    margin: 10px;
                    padding: 0 10px;
                    border: 1px solid #eee;
                    border-radius: 5px;
                    background: #f2f2f2;
                    .time{
                        line-height: 30px;
                        color: #1296db;
                        border-bottom: 1px solid #ddd;
                    }
                    .status{
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .btn-share{
        position: fixed;
        left: 50%;
        bottom: 15px;
        color: #fff;
        background: #1296db;
        transform: translateX(-50%);
    }
    .btn-share-hover{
        background: rgba(18, 150, 219, .7);
    }
}